
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- SOUND THEME / AJAX CONTENT START -->
<div id="content" class="site-content">
    <!-- SOUND THEME / MODULE SLIDER -->
    <!-- Module Slider -->

    <div id="component" class="component component-fullwidth fxStickIt">
        <ul class="itemwrap">
            <li class="current" style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Sound</h1>
                    <h2>Music Band Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/artist-page-four-grid/" class="btn btn-lg btn-success">
                            Discovery Artists
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Artists</h1>
                    <h2>Music Band Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/music-page-four-grid/" class="btn btn-lg btn-success">
                            Discovery Albums
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Videos</h1>
                    <h2>Video Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/video-page-four-grid/" class="btn btn-lg btn-success">
                            Discovery Videos
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Gallery-Slide.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Gallery</h1>
                    <h2>Art Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/gallery-page-four-grid/" class="btn btn-lg btn-success">
                            Discovery Galleries
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Gallery-Slide.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Event-Slider-One.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Events</h1>
                    <h2>Event Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/event-page-four-grid/" class="btn btn-lg btn-success">
                            Discovery Events
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Event-Slider-One.png" alt="Slider">
            </li>
        </ul>
        <nav>
            <a class="prev" href="#"><i class="fa fa-chevron-left"></i></a>
            <a class="next" href="#"><i class="fa fa-chevron-right"></i></a>
        </nav>
    </div>
    <div class="clearfix"></div>


    <!-- SOUND THEME / BUILDER START -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-featured soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                        <h1>Featured Best Albums </h1>
                        <h2>New Album List</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-featured" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 6240px; display: block;">
                            <div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/past-time-paradise/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/27-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/27-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/past-time-paradise/">Micheal Smith</a></h1>
                                        <h2>
                                            "Past Time Paradise"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/its-perfect-day/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/42-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/42-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/42-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/42-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/its-perfect-day/">Leonardo Doe</a></h1>
                                        <h2>
                                            "It's Perfect Day"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/last-night/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/21-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/21-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/21-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/21-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/last-night/">Elizabeth Smith</a></h1>
                                        <h2>
                                            "Last Night"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/beatiful-minimal-world/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/13-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/beatiful-minimal-world/">Julia Spartow</a></h1>
                                        <h2>
                                            "Beatiful Minimal World"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/dance-in-house/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/00000-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/dance-in-house/">Adam Patrowich</a></h1>
                                        <h2>
                                            "Dance in House"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/i-like-your-eyes/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/i-like-your-eyes/">Robert Doe Smith</a></h1>
                                        <h2>
                                            "I Like Your Eyes"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/sweat-dreams/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/sweat-dreams/">Marie Strazborg</a></h1>
                                        <h2>
                                            "Sweat Dreams"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/wonderful-loves/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/3-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/3-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/3-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/3-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/wonderful-loves/">Samuel Smith</a></h1>
                                        <h2>
                                            "Wonderful Loves"
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                    <div class="util-pagination" style="display: block;"><div class="util-page active-page"><span> </span></div><div class="util-page"><span> </span></div><div class="util-page"><span> </span></div></div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid soundtheme-mod-events soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>World Event Tour</h1>
                    <h2>Latest Event List</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="soundtheme-mod-featcon-two">
                <ul class="soundtheme-event-ul">


                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/camp-tour/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/00-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/00-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>22</h1>
                                    <h2>Apr 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/camp-tour/">Camp Tour</a></h1>

                                    <h2>Los Angeles, CA, United States </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$19</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/camp-tour/" class="btn btn-block btn-lg btn-success">Buy Ticket</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>



                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/mexico-carnival/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/35-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/35-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/35-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/35-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>13</h1>
                                    <h2>Feb 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/mexico-carnival/">Mexico Carnival</a></h1>

                                    <h2>Mexico City, Mexico </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$49</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/mexico-carnival/" class="btn btn-block btn-lg btn-success">Cancelled</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>



                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/new-year-party/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/41-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/41-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/41-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/41-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>16</h1>
                                    <h2>May 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/new-year-party/">New Year Party</a></h1>

                                    <h2>Washington Square Park, New York, NY, United States </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$89</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/new-year-party/" class="btn btn-block btn-lg btn-success">Sold Out</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>



                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/tomato-carnival/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/2-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/2-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/2-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/2-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>19</h1>
                                    <h2>Jul 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/tomato-carnival/">Tomato Carnival</a></h1>

                                    <h2>Rio de Janeiro - State of Rio de Janeiro, Brazil </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$49</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/tomato-carnival/" class="btn btn-block btn-lg btn-success">Cancelled</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="soundtheme-mod-bigbutton">
                    <a href="http://www.pock.site/sound/event-page-four-grid/" class="btn btn-block btn-lg  btn-success ">View All Events</a>
                </div>
            </div>
            <div class="col-md-4">
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <!-- SOUND THEME / PLAYLIST -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-tracklist soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>New Album Release</h1>
                    <h2>Listen Now</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row soundtheme-mod-playlist" style="margin-top:60px;">

                <div class="col-md-4">
                    <div class="soundtheme-single-gallery">
                        <a href="http://pock.be/sound/sweat-dreams/">
                            <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 soundtheme-mod-playreposive">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1><a href="http://pock.be/sound/sweat-dreams/">Marie Strazborg</a></h1>
                        <h2>
                            "Sweat Dreams"
                        </h2>
                    </div>

                    <div class="soundtheme-single-track">
                        <div class="soundtheme-single-tracklist">
                            <ol class="fap-my-playlist">
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152132189/preview.mp3 " title="Last Night - Feat. John Smith" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Last Night - Feat. John Smith
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152029203/preview.mp3 " title="Beatiful Minimal World" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Beatiful Minimal World
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/153714830/preview.mp3 " title="Dance in House - Feat. Alexa Penolope" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Dance in House - Feat. Alexa Penolope
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152009539/preview.mp3 " title="I Like Your Eyes" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        I Like Your Eyes
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152005193/preview.mp3 " title="War in My Heart - Feat. Mc Knight" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        War in My Heart - Feat. Mc Knight
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/151969330/preview.mp3 " title="Sweat Dreams (Radio Remix)" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Sweat Dreams (Radio Remix)
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>

                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1>Other Albums</h1>
                        <h2>"Listing Albums"</h2>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/beatiful-minimal-world/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/13-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/beatiful-minimal-world/">Julia Spartow</a></h1>
                                    <h2>
                                        "Beatiful Minimal World"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/i-like-your-eyes/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/i-like-your-eyes/">Robert Doe Smith</a></h1>
                                    <h2>
                                        "I Like Your Eyes"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/dance-in-house/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/00000-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/dance-in-house/">Adam Patrowich</a></h1>
                                    <h2>
                                        "Dance in House"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-4 soundtheme-mod-playreposive">
                </div>
                <div class="col-md-4">
                    <div class="soundtheme-mod-bigbutton soundtheme-mod-playbtn">
                        <a href="http://www.pock.site/sound/music-page-four-grid/" class="btn btn-block btn-lg  btn-success ">View All Albums</a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / GALLERY -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-galleries soundtheme-container soundtheme-mod-light ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title ">
                        <h1>Discovery New Artists </h1>
                        <h2>Awesome Musicians</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-gallery" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 4680px; display: block;">
                            <div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/leonardo-doe-caprio/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/12-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/12-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/leonardo-doe-caprio/">Leonardo Doe Caprio</a></h1>
                                        <h2>
                                            "Pop Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/samuel-smith/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/37-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/37-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/37-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/37-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/samuel-smith/">Samuel Smith</a></h1>
                                        <h2>
                                            "Pop Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/julia-spartow/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/4-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/4-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/4-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/4-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/julia-spartow/">Julia Spartow</a></h1>
                                        <h2>
                                            "Jazz Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/adam-patrowich/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/241-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/241-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/241-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/241-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/adam-patrowich/">Adam Patrowich</a></h1>
                                        <h2>
                                            "Jazz Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/elizabeth-smith/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/elizabeth-smith/">Elizabeth Smith</a></h1>
                                        <h2>
                                            "Jazz Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/micheal-smith/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/20-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/20-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/20-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/20-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/micheal-smith/">Micheal Smith</a></h1>
                                        <h2>
                                            "Jazz Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/marie-strazborg/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/9-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/9-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/9-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/9-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/marie-strazborg/">Marie Strazborg</a></h1>
                                        <h2>
                                            "Pop Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/robert-doe-smith/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/33-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/33-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/33-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/33-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail ">
                                        <h1><a href="http://pock.be/sound/robert-doe-smith/">Robert Doe Smith</a></h1>
                                        <h2>
                                            "Rock Musician"
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                    <div class="util-pagination" style="display: block;"><div class="util-page active-page"><span> </span></div><div class="util-page"><span> </span></div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / VIDEO -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-hotvideo soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>New Video Release</h1>
                    <h2>Watch Now</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row soundtheme-mod-videolist" style="margin-top:60px;">

                <div class="col-md-6">
                    <div class="soundtheme-single-gallery">
                        <a class="soundtheme-video-popup" href="#soundtheme-video144">
                            <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1429305254053-2a1bfe816f36-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">									<div class="soundtheme-video-play"><i class="fa fa-play"></i></div>
                        </a>
                    </div>
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1><a href="http://pock.be/sound/world-of-war/">World of War</a></h1>
                        <h2>
                            "It's Awesome Movie"
                        </h2>
                    </div>

                    <div id="soundtheme-video144" class="mfp-hide">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="embed-container">
                                <iframe src="https://www.youtube.com/embed/cXuC_v0KWaU?feature=oembed" allowfullscreen="" width="200" height="113" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="soundtheme-single-gallery">
                        <a class="soundtheme-video-popup" href="#soundtheme-video188">
                            <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436128003323-97dab5d267a9-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">									<div class="soundtheme-video-play"><i class="fa fa-play"></i></div>
                        </a>
                    </div>
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1><a href="http://pock.be/sound/prince-of-persie/">Prince of Persie</a></h1>
                        <h2>
                            "Little Prince in Life"
                        </h2>
                    </div>

                    <div id="soundtheme-video188" class="mfp-hide">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="embed-container">
                                <iframe src="https://www.youtube.com/embed/dJ8hccoZ6hQ?feature=oembed" allowfullscreen="" width="200" height="113" frameborder="0"></iframe>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>


                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-4 soundtheme-mod-playreposive">
                </div>
                <div class="col-md-4">
                    <div class="soundtheme-mod-bigbutton soundtheme-mod-playbtn">
                        <a href="http://www.pock.site/sound/video-page-four-grid/" class="btn btn-block btn-lg  btn-success ">View All Videos</a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / NEWS -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-newsblog soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                        <h1>Latest Hot News </h1>
                        <h2>Read Now</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-news" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">

                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 6240px; display: block;">
                            <div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/clone-of-monster/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/empty-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/clone-of-monster/">Clone of Monster</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/blue-spring-gallery/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432838765905-6881a8585474-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/blue-spring-gallery/">Blue Spring Gallery</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Jul 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/corridor-movie/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1435575606138-4edaccd24021-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/corridor-movie/">Corridor Movie</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 4</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/animation-planet/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436759644647-e274ee931eaa-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/animation-planet/">Animation Planet</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/the-lost-photos/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1435458983855-85e70c381591-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/the-lost-photos/">The Lost Photos</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/the-art-street/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/22-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/the-art-street/">The Art Street</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 May 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/its-perfect-day/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/42-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/its-perfect-day/">It’s Perfect Day</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/past-time-paradise/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/27-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/past-time-paradise/">Past Time Paradise</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="util-pagination" style="display: block;"><div class="util-page active-page"><span> </span></div><div class="util-page"><span> </span></div><div class="util-page"><span> </span></div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / BIG NEWS -->
    <!-- SOUND THEME / CONTACT FORMS -->
    <div class="container-fluid soundtheme-darkback-one soundtheme-footer-wall">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="soundtheme-related-title">
                        <h1>Share Your Passion</h1>

                        <h6>Sound Connect</h6>
                    </div>

                    <div class="soundtheme-contact-form">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                '<div role="form" class="wpcf7" id="wpcf7-f85-o1" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/sound/home-page-dark/#wpcf7-f85-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input name="_wpcf7" value="85" type="hidden">
                                            <input name="_wpcf7_version" value="4.6" type="hidden">
                                            <input name="_wpcf7_locale" value="" type="hidden">
                                            <input name="_wpcf7_unit_tag" value="wpcf7-f85-o1" type="hidden">
                                            <input name="_wpnonce" value="fa093ce4f9" type="hidden">
                                        </div>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-name"><input name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name:" type="text"></span><br>
                                            <span class="wpcf7-form-control-wrap your-email"><input name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-Mail:" type="email"></span><br>
                                            <span class="wpcf7-form-control-wrap your-subject"><input name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject:" type="text"></span><br>
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message:"></textarea></span><br>
                                            <input value="Send Message" class="wpcf7-form-control wpcf7-submit" type="submit"><span class="ajax-loader"></span>
                                        </p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>'
                            </div>
                            <div class="col-md-4"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / SOCIAL ICONS -->
    <div class="container-fluid soundtheme-darkback-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-logo-footer">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-spotify"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

