
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- SOUND THEME / AJAX CONTENT START -->
<div id="content" class="site-content">
    <!-- SOUND THEME / MODULE SLIDER -->
    <!-- Module Slider -->

    <div id="component" class="component component-fullwidth fxStickIt">
        <ul class="itemwrap">
            <li class="current" style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Sound</h1>
                    <h2>Music Band Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a>
                            @Html.ActionLink("Discovery Artists", "Index", "Artist")
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Artists</h1>
                    <h2>Music Band Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a>
                            @Html.ActionLink("Discovery Albums", "Index", "Album")
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Videos</h1>
                    <h2>Video Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <a>
                            @Html.ActionLink("Discovery Groups", "Index", "Group")
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png" alt="Slider">
            </li>
        </ul>

    </div>
    <div class="clearfix"></div>


    <!-- SOUND THEME / BUILDER START -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-featured soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                        <h1>Featured Best Albums </h1>
                        <h2>New Album List</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-featured" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 6240px; display: block;">
                            <div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/past-time-paradise/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/27-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/27-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/past-time-paradise/">Micheal Smith</a></h1>
                                        <h2>
                                            "Past Time Paradise"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/its-perfect-day/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/42-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/42-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/42-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/42-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/its-perfect-day/">Leonardo Doe</a></h1>
                                        <h2>
                                            "It's Perfect Day"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/last-night/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/21-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/21-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/21-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/21-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/last-night/">Elizabeth Smith</a></h1>
                                        <h2>
                                            "Last Night"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/beatiful-minimal-world/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/13-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/beatiful-minimal-world/">Julia Spartow</a></h1>
                                        <h2>
                                            "Beatiful Minimal World"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/dance-in-house/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/00000-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/dance-in-house/">Adam Patrowich</a></h1>
                                        <h2>
                                            "Dance in House"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/i-like-your-eyes/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/i-like-your-eyes/">Robert Doe Smith</a></h1>
                                        <h2>
                                            "I Like Your Eyes"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/sweat-dreams/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/sweat-dreams/">Marie Strazborg</a></h1>
                                        <h2>
                                            "Sweat Dreams"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/wonderful-loves/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/3-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/3-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/3-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/3-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/wonderful-loves/">Samuel Smith</a></h1>
                                        <h2>
                                            "Wonderful Loves"
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>





    <!-- SOUND THEME / PLAYLIST -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-tracklist soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>New Album Release</h1>
                    <h2>Listen Now</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row soundtheme-mod-playlist" style="margin-top:60px;">

                <div class="col-md-4">
                    <div class="soundtheme-single-gallery">
                        <a href="http://pock.be/sound/sweat-dreams/">
                            <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 soundtheme-mod-playreposive">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1><a href="http://pock.be/sound/sweat-dreams/">Marie Strazborg</a></h1>
                        <h2>
                            "Sweat Dreams"
                        </h2>
                    </div>

                    <div class="soundtheme-single-track">
                        <div class="soundtheme-single-tracklist">
                            <ol class="fap-my-playlist">
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152132189/preview.mp3 " title="Last Night - Feat. John Smith" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Last Night - Feat. John Smith
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152029203/preview.mp3 " title="Beatiful Minimal World" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Beatiful Minimal World
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/153714830/preview.mp3 " title="Dance in House - Feat. Alexa Penolope" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Dance in House - Feat. Alexa Penolope
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152009539/preview.mp3 " title="I Like Your Eyes" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        I Like Your Eyes
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152005193/preview.mp3 " title="War in My Heart - Feat. Mc Knight" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        War in My Heart - Feat. Mc Knight
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/151969330/preview.mp3 " title="Sweat Dreams (Radio Remix)" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Sweat Dreams (Radio Remix)
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>

                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1>Other Albums</h1>
                        <h2>"Listing Albums"</h2>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/beatiful-minimal-world/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/13-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/beatiful-minimal-world/">Julia Spartow</a></h1>
                                    <h2>
                                        "Beatiful Minimal World"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/i-like-your-eyes/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/i-like-your-eyes/">Robert Doe Smith</a></h1>
                                    <h2>
                                        "I Like Your Eyes"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/dance-in-house/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/00000-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/dance-in-house/">Adam Patrowich</a></h1>
                                    <h2>
                                        "Dance in House"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-4 soundtheme-mod-playreposive">
                </div>
                <div class="col-md-4">
                    <div class="soundtheme-mod-bigbutton soundtheme-mod-playbtn">
                        <a href="http://www.pock.site/sound/music-page-four-grid/" class="btn btn-block btn-lg  btn-success ">View All Albums</a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / GALLERY -->
    <!-- SOUND THEME / FEATURED SLIDER -->
    <!-- SOUND THEME / VIDEO -->
    <!-- SOUND THEME / FEATURED SLIDER -->
    <!-- SOUND THEME / NEWS -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-newsblog soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                        <h1>Latest Hot News </h1>
                        <h2>Read Now</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-news" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">

                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 6240px; display: block;">
                            <div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/clone-of-monster/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/empty-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/clone-of-monster/">Clone of Monster</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/blue-spring-gallery/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432838765905-6881a8585474-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/blue-spring-gallery/">Blue Spring Gallery</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Jul 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/corridor-movie/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1435575606138-4edaccd24021-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/corridor-movie/">Corridor Movie</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 4</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/animation-planet/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436759644647-e274ee931eaa-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/animation-planet/">Animation Planet</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/the-lost-photos/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1435458983855-85e70c381591-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/the-lost-photos/">The Lost Photos</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/the-art-street/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/22-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/the-art-street/">The Art Street</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 May 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/its-perfect-day/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/42-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/its-perfect-day/">It’s Perfect Day</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/past-time-paradise/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/27-700x450.jpg" class="attachment-soundtheme-thumb-formal size-soundtheme-thumb-formal wp-post-image" alt="" width="700" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail soundtheme-mod-news-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/past-time-paradise/">Past Time Paradise</a></h1>
                                        <h2><i class="fa fa-bookmark-o"></i> 14 Oct 15 <i class="fa fa-commenting-o"></i> 3</h2>
                                        <p>A faucibus velit adipiscing est vitae scelerisque tristique eu adipiscing porta suspendisse aliquet duis class phasellus euismod...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / BIG NEWS -->
    <!-- SOUND THEME / CONTACT FORMS -->

    <div class="clearfix"></div>

    <!-- SOUND THEME / SOCIAL ICONS -->
    <div class="container-fluid soundtheme-darkback-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-logo-footer">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-spotify"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

