@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

@model MusicHouse.ViewModels.HomeViewModel

<!-- SOUND THEME / AJAX CONTENT START -->
<div id="content" class="site-content">
    <!-- SOUND THEME / MODULE SLIDER -->
    <!-- Module Slider -->

    <div id="component" class="component component-fullwidth fxStickIt">
        <ul id="listanbp" class="itemwrap">
            <li class="current" style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Sound</h1>
                    <h2>Music Band Magazine</h2>
                    <div class="soundtheme-slider-button">
                        <div class="soundtheme-slider-button">
                            @Html.ActionLink("Discovery Artists", "Index", "Artist", null, new { @class = "btn btn-lg btn-success" })
                        </div>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Main-Slide1.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Artists</h1>
                    <h2>Music Band Magazine</h2>
                    <div class="soundtheme-slider-button">

                        @Html.ActionLink("Discovery Albums", "Index", "Album", null, new { @class = "btn btn-lg btn-success" })


                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png" alt="Slider">
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Creative Awesome Videos</h1>
                    <h2>Video Magazine</h2>
                    <div class="soundtheme-slider-button">
                        @Html.ActionLink("Discovery Groups", "Index", "Group", null, new { @class = "btn btn-lg btn-success" })

                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Video-Slide.png" alt="Slider">
            </li>
        </ul>
        <nav>
            <a id="prevnbp" class="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a id="nextnbp" class="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </nav>
    </div>
    <div class="clearfix"></div>


    <!-- SOUND THEME / BUILDER START -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-featured soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                        <h1>Featured Best Albums </h1>
                        <h2>New Album List</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-featured" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 6240px; display: block;">
                            <div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/past-time-paradise/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/27-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/27-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/27-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/past-time-paradise/">Micheal Smith</a></h1>
                                        <h2>
                                            "Past Time Paradise"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/its-perfect-day/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/42-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/42-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/42-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/42-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/its-perfect-day/">Leonardo Doe</a></h1>
                                        <h2>
                                            "It's Perfect Day"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/last-night/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/21-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/21-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/21-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/21-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/last-night/">Elizabeth Smith</a></h1>
                                        <h2>
                                            "Last Night"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/beatiful-minimal-world/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/13-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/beatiful-minimal-world/">Julia Spartow</a></h1>
                                        <h2>
                                            "Beatiful Minimal World"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/dance-in-house/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/00000-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/dance-in-house/">Adam Patrowich</a></h1>
                                        <h2>
                                            "Dance in House"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/i-like-your-eyes/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/i-like-your-eyes/">Robert Doe Smith</a></h1>
                                        <h2>
                                            "I Like Your Eyes"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/sweat-dreams/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/sweat-dreams/">Marie Strazborg</a></h1>
                                        <h2>
                                            "Sweat Dreams"
                                        </h2>
                                    </div>
                                </div>
                            </div><div class="util-item" style="width: 390px; margin-left: 0px; margin-right: 0px;">
                                <div class="item">
                                    <div class="meida-holder soundtheme-mod-thumb">
                                        <div class="soundtheme-single-gallery">
                                            <a href="http://pock.be/sound/wonderful-loves/">
                                                <img src="http://pock.be/sound/wp-content/uploads/2015/10/3-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/3-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/3-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/3-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">											<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                        <h1><a href="http://pock.be/sound/wonderful-loves/">Samuel Smith</a></h1>
                                        <h2>
                                            "Wonderful Loves"
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                    <div class="util-pagination" style="display: block;"><div class="util-page active-page"><span> </span></div><div class="util-page"><span> </span></div><div class="util-page"><span> </span></div></div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid soundtheme-mod-events soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>World Event Tour</h1>
                    <h2>Latest Event List</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="soundtheme-mod-featcon-two">
                <ul class="soundtheme-event-ul">


                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/camp-tour/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/00-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/00-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>22</h1>
                                    <h2>Apr 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/camp-tour/">Camp Tour</a></h1>

                                    <h2>Los Angeles, CA, United States </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$19</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/camp-tour/" class="btn btn-block btn-lg btn-success">Buy Ticket</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>



                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/mexico-carnival/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/35-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/35-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/35-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/35-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>13</h1>
                                    <h2>Feb 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/mexico-carnival/">Mexico Carnival</a></h1>

                                    <h2>Mexico City, Mexico </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$49</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/mexico-carnival/" class="btn btn-block btn-lg btn-success">Cancelled</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>



                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/new-year-party/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/41-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/41-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/41-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/41-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>16</h1>
                                    <h2>May 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/new-year-party/">New Year Party</a></h1>

                                    <h2>Washington Square Park, New York, NY, United States </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$89</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/new-year-party/" class="btn btn-block btn-lg btn-success">Sold Out</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>



                    <li>
                        <div class="row">
                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/tomato-carnival/">
                                        <img src="http://pock.be/sound/wp-content/uploads/2015/10/2-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/2-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/2-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/2-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                    </a>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1">
                                <div class="soundtheme-mod-dates  soundtheme-mod-detail-dark ">
                                    <h1>19</h1>
                                    <h2>Jul 2016</h2>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-6 soundtheme-event-title">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/tomato-carnival/">Tomato Carnival</a></h1>

                                    <h2>Rio de Janeiro - State of Rio de Janeiro, Brazil </h2>
                                </div>
                            </div>

                            <div class="hidden-xs col-sm-2 col-md-1 soundtheme-event-price">
                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <div class="soundtheme-mod-dates">
                                        <h1>$49</h1>
                                        <h2>Price</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden-xs hidden-sm col-md-1">
                            </div>

                            <div class="hidden-xs col-sm-3 col-md-2">
                                <div class="soundtheme-event-btn">
                                    <a href="http://pock.be/sound/tomato-carnival/" class="btn btn-block btn-lg btn-success">Cancelled</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="soundtheme-mod-bigbutton">
                    <a href="http://www.pock.site/sound/event-page-four-grid/" class="btn btn-block btn-lg  btn-success ">View All Events</a>
                </div>
            </div>
            <div class="col-md-4">
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <!-- SOUND THEME / PLAYLIST -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-tracklist soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>New Album Release</h1>
                    <h2>Listen Now</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row soundtheme-mod-playlist" style="margin-top:60px;">

                <div class="col-md-4">
                    <div class="soundtheme-single-gallery">
                        <a href="http://pock.be/sound/sweat-dreams/">
                            <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 soundtheme-mod-playreposive">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1><a href="http://pock.be/sound/sweat-dreams/">Marie Strazborg</a></h1>
                        <h2>
                            "Sweat Dreams"
                        </h2>
                    </div>

                    <div class="soundtheme-single-track">
                        <div class="soundtheme-single-tracklist">
                            <ol class="fap-my-playlist">
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152132189/preview.mp3 " title="Last Night - Feat. John Smith" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Last Night - Feat. John Smith
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152029203/preview.mp3 " title="Beatiful Minimal World" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Beatiful Minimal World
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/153714830/preview.mp3 " title="Dance in House - Feat. Alexa Penolope" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Dance in House - Feat. Alexa Penolope
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152009539/preview.mp3 " title="I Like Your Eyes" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        I Like Your Eyes
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152005193/preview.mp3 " title="War in My Heart - Feat. Mc Knight" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        War in My Heart - Feat. Mc Knight
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/151969330/preview.mp3 " title="Sweat Dreams (Radio Remix)" target="http://pock.be/sound/?post_type=post&amp;p=356">
                                        Sweat Dreams (Radio Remix)
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>

                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1>Other Albums</h1>
                        <h2>"Listing Albums"</h2>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/beatiful-minimal-world/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/13-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/13-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/13-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/beatiful-minimal-world/">Julia Spartow</a></h1>
                                    <h2>
                                        "Beatiful Minimal World"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/i-like-your-eyes/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/i-like-your-eyes/">Robert Doe Smith</a></h1>
                                    <h2>
                                        "I Like Your Eyes"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/dance-in-house/">
                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/00000-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" width="250" height="250">
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/dance-in-house/">Adam Patrowich</a></h1>
                                    <h2>
                                        "Dance in House"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-4 soundtheme-mod-playreposive">
                </div>
                <div class="col-md-4">
                    <div class="soundtheme-mod-bigbutton soundtheme-mod-playbtn">
                        <a href="http://www.pock.site/sound/music-page-four-grid/" class="btn btn-block btn-lg  btn-success ">View All Albums</a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / GALLERY -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-galleries soundtheme-container soundtheme-mod-light ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title ">
                        <h1>Discovery Top Artists </h1>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-gallery" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        <div class="util-wrapper" style="width: 4680px; display: block;">
                            @if (Model != null)
                            {
                                foreach (var item in Model.Artists)
                                 {
                                     <div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                         <div class="item">
                                             <div class="meida-holder soundtheme-mod-thumb">
                                                 <div class="soundtheme-single-gallery">
                                                     <a href="http://pock.be/sound/leonardo-doe-caprio/">
                                                         <img src="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/12-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/12-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">
                                                         <div class="soundtheme-hover-play">
                                                             <i class="fa fa-hand-peace-o"></i>
                                                         </div>
                                                     </a>
                                                 </div>
                                             </div>

                                             <div class="soundtheme-mod-detail ">
                                                 <h1>
                                                     <a href="http://pock.be/sound/leonardo-doe-caprio/">@item.FullName</a>
                                                 </h1>
                                                 <h2>
                                                     "Pop Musician"
                                                 </h2>
                                             </div>
                                         </div>
                                     </div>
                                 }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>

    <!-- SOUND THEME / FOOTER -->
    <div class="container-fluid soundtheme-darkback-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-logo-footer">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-spotify"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

@section scripts{
    <script>
        var list = document.getElementById("listanbp");
        var pr = document.getElementById("prevnbp");
        pr.onclick = function () {
            for (var i = 0; i < list.children.length; i++) {
                console.log("aaa");
                if (list.children[i].className == "current") {
                    if (list.children[i - 1] != null) {
                        list.children[i].className = "";
                        list.children[i - 1].className = "current";
                        i = list.children.length;
                    }
                }
            }
        }
        var nx = document.getElementById("nextnbp");
        nx.onclick = function () {
            for (var i = 0; i < list.children.length; i++) {
                if (list.children[i].className == "current") {
                    if (list.children[i+1] != null) {
                        list.children[i].className = "";
                        list.children[i + 1].className = "current";
                        i = list.children.length;
                    }
                }
            }
        }

    </script>

}
