
<!-- SOUND THEME / AJAX CONTENT START -->
<div id="content" class="site-content">
    <!-- SOUND THEME / HEADER AREA -->
    <!-- SOUND THEME / MODULE SLIDER -->
    <!-- Module Slider -->

    <div id="component" class="component component-fullwidth fxSoftScale">
        <ul class="itemwrap">
            <li class="current" style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Artist-Slide.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Micheal Smith</h1>
                    <h2>Jazz Musician</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/micheal-smith/" class="btn btn-lg btn-success">
                            Artist Page
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Artist-Slide.png" alt="Slider" />
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Artist-Slides.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Elizabeth Smith</h1>
                    <h2>Rock Musician</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/elizabeth-smith/" class="btn btn-lg btn-success">
                            Artist Page
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Artist-Slides.png" alt="Slider" />
            </li>
        </ul>
        <nav>
            <a class="prev" href="#"><i class="fa fa-chevron-left"></i></a>
            <a class="next" href="#"><i class="fa fa-chevron-right"></i></a>
        </nav>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / HEADER BOTTOM -->
    <div class="container-fluid soundtheme-header-bottomback">
        <div class="container">
            <div class="row">
                

                <div class="hidden-xs col-xs-12 col-md-8 col-md-offset-2">
                    <div class="soundtheme-filters">
                        <div class="soundtheme-filter-menu">
                            <ul>
                                <li class="filter active" data-filter="all">All</li>
                                <li class="filter" data-filter=".Musician">Musician</li>
                                <li class="filter" data-filter=".Songwriter">Songwriter</li>
                                <li class="filter" data-filter=".Artist">Artist</li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / RESPONSIVE SPACE -->
    <div class="soundtheme-single-space"></div>

    <!-- SOUND THEME / DETAILS -->
    <div class="container-fluid soundtheme-white-backone soundtheme-single-details soundtheme-blog-loops">
        <div class="container">
            <div class="row">

                <div id="container">



                    <div class="col-xs-12 col-sm-6  col-md-3  mix Songwriter">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/samuel-smith/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/37-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/37-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/37-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/37-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/samuel-smith/">Samuel Smith</a>
                                </h1>

                                <h2>
                                    "Pop Musician"
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-3  mix Songwriter">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/leonardo-doe-caprio/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/12-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/12-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/12-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/leonardo-doe-caprio/">Leonardo Doe Caprio</a>
                                </h1>

                                <h2>
                                    "Pop Musician"
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-3  mix Songwriter">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/marie-strazborg/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/9-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/9-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/9-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/9-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/marie-strazborg/">Marie Strazborg</a>
                                </h1>

                                <h2>
                                    "Pop Musician"
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-3  mix Musician">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/robert-doe-smith/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/33-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/33-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/33-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/33-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/robert-doe-smith/">Robert Doe Smith</a>
                                </h1>

                                <h2>
                                    "Rock Musician"
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-3  mix Songwriter">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/elizabeth-smith/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436190807865-2e156d40f1a2-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/elizabeth-smith/">Elizabeth Smith</a>
                                </h1>

                                <h2>
                                    "Jazz Musician"
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-3  mix Artist">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/adam-patrowich/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/241-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/241-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/241-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/241-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/adam-patrowich/">Adam Patrowich</a>
                                </h1>

                                <h2>
                                    "Jazz Musician"
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-3  mix Songwriter">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/julia-spartow/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/4-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/4-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/4-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/4-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/julia-spartow/">Julia Spartow</a>
                                </h1>

                                <h2>
                                    "Jazz Musician"
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-3  mix Musician">
                        <div class="soundtheme-filter-post">
                            <div class="soundtheme-blog-list-img">
                                <div class="soundtheme-single-gallery">
                                    <a href="http://pock.be/sound/micheal-smith/">
                                        <img width="450" height="450" src="http://pock.be/sound/wp-content/uploads/2015/10/20-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/20-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/20-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/20-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                                    </a>
                                </div>
                            </div>

                            <div class="soundtheme-filter-posting">
                                <h1>
                                    <a href="http://pock.be/sound/micheal-smith/">Micheal Smith</a>
                                </h1>

                                <h2>
                                    "Jazz Musician"
                                </h2>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <style type="text/css">
        .soundtheme-footer-wall {
            background: url(http://pock.be/sound/wp-content/uploads/2015/10/Contact-Back.png) no-repeat center center;
            background-color: #24252A;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://pock.be/sound/wp-content/uploads/2015/10/Contact-Back.png", sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://pock.be/sound/wp-content/uploads/2015/10/Contact-Back.png', sizingMethod='scale')";
        }
    </style>

    <!-- SOUND THEME / CONTACT FORMS -->
    <div class="container-fluid soundtheme-darkback-one soundtheme-footer-wall">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="soundtheme-related-title">
                        <h1>Share Your Passion</h1>

                        <h6>Sound Connect</h6>
                    </div>

                    <div class="soundtheme-contact-form">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                '<div role="form" class="wpcf7" id="wpcf7-f85-o1" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/sound/artist-page-four-grid/#wpcf7-f85-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="85" />
                                            <input type="hidden" name="_wpcf7_version" value="4.6" />
                                            <input type="hidden" name="_wpcf7_locale" value="" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f85-o1" />
                                            <input type="hidden" name="_wpnonce" value="fa093ce4f9" />
                                        </div>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name:" /></span><br />
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-Mail:" /></span><br />
                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject:" /></span><br />
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message:"></textarea></span><br />
                                            <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" />
                                        </p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>'
                            </div>
                            <div class="col-md-4"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / SOCIAL ICONS -->
    <div class="container-fluid soundtheme-darkback-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-logo-footer">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-spotify"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


</div>
<!-- SOUND THEME / AJAX CONTENT END -->
