<!-- SOUND THEME / SEARH BAR -->
<div class="soundtheme-top-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="soundtheme-top-search-form">
                    <form role="search" method="get" id="searchform" class="soundtheme-search searchform" action="http://pock.be/sound/">
                        <div>
                            <input class="col-md-6" value="" name="s" id="s" placeholder="Type and Press Enter to Search .." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type and Press Enter to Search ..'" type="text">
                            <input class="col-md-2"type="radio" name="asd" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SOUND THEME / TOP NAVIGATION -->
<div class="container-fluid soundtheme-nav-fixed soundtheme-nav-fixed-mobil" style="top: 0px;">
    <!-- SOUND THEME / LOGO AREA -->
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="soundtheme-menu-icon" style="opacity: 0.9;">
            <button class="soundtheme-btn-sidebar">
                <i class="fa fa-bars"></i> <span>Menu</span>
            </button>
        </div>
        <div class="soundtheme-logo hidden-sm hidden-xs">
            <a href="http://pock.be/sound/">
                <img src="http://pock.be/sound/wp-content/themes/sound-theme/images/sound/logo.png" alt="Logo">
            </a>
        </div>
        <div class="soundtheme-logo hidden-md hidden-lg">
            <a href="http://pock.be/sound/">
                <img src="http://pock.be/sound/wp-content/themes/sound-theme/images/sound/logo.png" alt="Logo">
            </a>
        </div>
        <div class="soundtheme-search-icon" style="opacity: 0.9;">
            <button class="soundtheme-btn-search">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>


