@model IEnumerable<Neo4jClient.Node<MusicHouse.Models.Album>>
<!-- SOUND THEME / AJAX CONTENT START -->
<div id="content" class="site-content">
    <!-- SOUND THEME / MODULE SLIDER -->
    <!-- Module Slider -->

    <div id="component" class="component component-fullwidth fxSlideBehind">
        <ul class="itemwrap">
            <li class="current" style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Micheal Smith</h1>
                    <h2>Dance in House</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/dance-in-house/" class="btn btn-lg btn-success">
                            Listen Now
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Music-Sliders.png" alt="Slider" />
            </li>
            <li style="background-image: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Slider.png);">
                <div class="soundtheme-slidertitle">
                    <h1>Micheal Smith</h1>
                    <h2>Beatiful Minimal World</h2>
                    <div class="soundtheme-slider-button">
                        <a href="http://www.pock.site/sound/beatiful-minimal-world/" class="btn btn-lg btn-success">
                            Listen Now
                        </a>
                    </div>
                </div>
                <img src="http://pock.be/sound/wp-content/uploads/2015/10/Music-Slider.png" alt="Slider" />
            </li>
        </ul>
        <nav>
            <a class="prev" href="#"><i class="fa fa-chevron-left"></i></a>
            <a class="next" href="#"><i class="fa fa-chevron-right"></i></a>
        </nav>
    </div>
    <div class="clearfix"></div>


    <!-- SOUND THEME / BUILDER START -->
    <!-- SOUND THEME / FEATURED SLIDER -->
    <style type="text/css">
        .soundtheme-mod-playlist {
            background: url(http://pock.be/sound/wp-content/uploads/2015/10/Music-Header.png) no-repeat center center;
            background-color: #24252A;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://pock.be/sound/wp-content/uploads/2015/10/Music-Header.png', sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://pock.be/sound/wp-content/uploads/2015/10/Music-Header.png', sizingMethod='scale')";
        }
    </style>

    <div class="container-fluid soundtheme-mod-playlist soundtheme-container soundtheme-mod-dark ">
        <div class="container">
            <div class="col-md-12">
                <div class="soundtheme-mod-title  soundtheme-mod-title-dark ">
                    <h1>New Album Release</h1>
                    <h2>Listen Now</h2>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row soundtheme-mod-playlist" style="margin-top:60px;">

                <div class="col-md-4">
                    <div class="soundtheme-single-gallery">
                        <a href="http://pock.be/sound/sweat-dreams/">
                            <img width="250" height="250" src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1432563491239-ba8bb919518e-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" />									<div class="soundtheme-hover-play"><i class="fa fa-hand-peace-o"></i></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 soundtheme-mod-playreposive">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1><a href="http://pock.be/sound/sweat-dreams/">Marie Strazborg</a></h1>
                        <h2>
                            "Sweat Dreams"
                        </h2>
                    </div>

                    <div class="soundtheme-single-track">
                        <div class="soundtheme-single-tracklist">
                            <ol class="fap-my-playlist">
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152132189/preview.mp3 " title="Last Night - Feat. John Smith" target="http://pock.be/sound/?post_type=post&p=356">
                                        Last Night - Feat. John Smith
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152029203/preview.mp3 " title="Beatiful Minimal World" target="http://pock.be/sound/?post_type=post&p=356">
                                        Beatiful Minimal World
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/153714830/preview.mp3 " title="Dance in House - Feat. Alexa Penolope" target="http://pock.be/sound/?post_type=post&p=356">
                                        Dance in House - Feat. Alexa Penolope
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152009539/preview.mp3 " title="I Like Your Eyes" target="http://pock.be/sound/?post_type=post&p=356">
                                        I Like Your Eyes
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/152005193/preview.mp3 " title="War in My Heart - Feat. Mc Knight" target="http://pock.be/sound/?post_type=post&p=356">
                                        War in My Heart - Feat. Mc Knight
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>
                                <li>
                                    <!-- SOUND THEME / TRACK -->
                                    <a data-music="  http://0.s3.envato.com/files/151969330/preview.mp3 " title="Sweat Dreams (Radio Remix)" target="http://pock.be/sound/?post_type=post&p=356">
                                        Sweat Dreams (Radio Remix)
                                    </a>

                                    <!-- SOUND THEME / DOWNLOAD -->
                                    <div class="soundtheme-single-download">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </li>

                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                        <h1>Other Albums</h1>
                        <h2>"Listing Albums"</h2>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/last-night/">
                                    <img width="250" height="250" src="http://pock.be/sound/wp-content/uploads/2015/10/21-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/21-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/21-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/21-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" />
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/last-night/">Elizabeth Smith</a></h1>
                                    <h2>
                                        "Last Night"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/dance-in-house/">
                                    <img width="250" height="250" src="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/00000-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/00000-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/00000-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" />
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/dance-in-house/">Adam Patrowich</a></h1>
                                    <h2>
                                        "Dance in House"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                    <div class="soundtheme-mod-others">
                        <ul>
                            <li>
                                <a href="http://pock.be/sound/i-like-your-eyes/">
                                    <img width="250" height="250" src="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg" class="attachment-soundtheme-thumb-small size-soundtheme-thumb-small wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-250x250.jpg 250w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/photo-1436191138407-f140f6dea937-450x450.jpg 450w" sizes="(max-width: 250px) 100vw, 250px" />
                                </a>

                                <div class="soundtheme-mod-detail  soundtheme-mod-detail-dark ">
                                    <h1><a href="http://pock.be/sound/i-like-your-eyes/">Robert Doe Smith</a></h1>
                                    <h2>
                                        "I Like Your Eyes"
                                    </h2>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>


                </div>

                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-4 soundtheme-mod-playreposive">
                </div>
                <div class="col-md-4">
                    <div class="soundtheme-mod-bigbutton soundtheme-mod-playbtn">
                        <a href="http://www.pock.site/sound/music-page-four-grid/" class="btn btn-block btn-lg  btn-success ">View All Albums</a>
                    </div>
                </div>
                <div class="col-md-4">
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- SOUND THEME / GALLERY -->
    <!-- SOUND THEME / FEATURED SLIDER -->

    <div class="container-fluid soundtheme-mod-galleries soundtheme-container soundtheme-mod-light ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-mod-title ">
                        <h1>Albums</h1>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div id="soundtheme-module-gallery" class="util-theme-default util-carousel team-showcase soundtheme-mod-featcon" style="display: block;">
                    <div class="util-wrapper-holder" style="-moz-user-select: none;">
                        @foreach (var album in Model)
                        {
                            <div class="util-wrapper" style="width: 4680px; display: block;">
                                <div class="util-item" style="width: 292.5px; margin-left: 0px; margin-right: 0px;">
                                    <div class="item">
                                        <div class="meida-holder soundtheme-mod-thumb">
                                            <div class="soundtheme-single-gallery">
                                                <a href="http://pock.be/sound/samuel-smith/">
                                                    <img src="http://pock.be/sound/wp-content/uploads/2015/10/37-450x450.jpg" class="attachment-soundtheme-thumb-medium size-soundtheme-thumb-medium wp-post-image" alt="" srcset="http://pock.be/sound/wp-content/uploads/2015/10/37-450x450.jpg 450w, http://pock.be/sound/wp-content/uploads/2015/10/37-150x150.jpg 150w, http://pock.be/sound/wp-content/uploads/2015/10/37-250x250.jpg 250w" sizes="(max-width: 450px) 100vw, 450px" width="450" height="450">
                                                    <div class="soundtheme-hover-play">
                                                        <i class="fa fa-hand-peace-o"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="soundtheme-mod-detail ">
                                            <h1>
                                                @Html.ActionLink(@album.Data.AlbumName, "Details", new {id = album.Reference.Id})
                                            </h1>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SOUND THEME / EVENT LIST -->


    <style type="text/css">
        .soundtheme-footer-wall {
            background: url(http://pock.be/sound/wp-content/uploads/2015/10/Contact-Back.png) no-repeat center center;
            background-color: #24252A;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://pock.be/sound/wp-content/uploads/2015/10/Contact-Back.png", sizingMethod='scale');
            -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://pock.be/sound/wp-content/uploads/2015/10/Contact-Back.png', sizingMethod='scale')";
        }
    </style>

    <!-- SOUND THEME / CONTACT FORMS -->
    <div class="container-fluid soundtheme-darkback-one soundtheme-footer-wall">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="soundtheme-related-title">
                        <h1>Share Your Passion</h1>

                        <h6>Sound Connect</h6>
                    </div>

                    <div class="soundtheme-contact-form">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                '<div role="form" class="wpcf7" id="wpcf7-f85-o1" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="/sound/music-album-display-dark/#wpcf7-f85-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="85" />
                                            <input type="hidden" name="_wpcf7_version" value="4.6" />
                                            <input type="hidden" name="_wpcf7_locale" value="" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f85-o1" />
                                            <input type="hidden" name="_wpnonce" value="fa093ce4f9" />
                                        </div>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name:" /></span><br />
                                            <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-Mail:" /></span><br />
                                            <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject:" /></span><br />
                                            <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message:"></textarea></span><br />
                                            <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" />
                                        </p>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>'
                            </div>
                            <div class="col-md-4"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <!-- SOUND THEME / SOCIAL ICONS -->
    <div class="container-fluid soundtheme-darkback-two">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="soundtheme-logo-footer">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-apple"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-spotify"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


</div>
<!-- SOUND THEME / AJAX CONTENT END -->

